<!DOCTYPE HTML>
<html>

<head>
  <title>Praktyczne aspekty projektowania</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1>Projekt:&nbsp;<span class="logo_colour">Anna Drobek&Radoslaw Biereta</span></a></h1>
          <h2>Proste wyswietlanie daty oraz godziny z backendu.</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          
        </ul>
      </div>
    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="banner"></div>
	  <div id="sidebar_container">
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
          </div>
          <div class="sidebar_base"></div>
        </div>
        <div class="sidebar">
          <div class="sidebar_top"></div>
          <div class="sidebar_item">
            <h3> </h3>
          </div>
          <div class="sidebar_base"></div>
        </div>
      </div>
      <div id="content">
      Tutaj wstawię później opis do obrazka
      <img src="uml.png">
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p> Wykonie Anna Drobek oraz Radoslaw Biereta</a></p>
    </div>
  </div>
</body>
</html>
