<!DOCTYPE html>
<html lang="pl">
<head>
<%- include("../partials/head.ejs") %>
</head>
<body style="font-weight: bold;background-color: black;font-size: 60px;color: white;">
<div id="header">
<%- include("../partials/header.ejs") %>
</div>
<div id="main">
<%- include("../partials/main.ejs") %>
</div>
<div id="footer">
<%- include("../partials/footer.ejs") %>
</div>
</section>
</body>
</html>

